<!-- The drawer is always open in large screens. The header is always shown,
  even in small screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
            mdl-layout--fixed-header">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">

            <div class="mdl-layout-spacer">

            </div>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
            </div>
            <button id="profile" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                <i class="material-icons">person</i>
            </button>
            <div class="mdl-tooltip" for="profile">
                Profile
            </div>
            <button (click)="logout()" id="logout" style="margin-left: 1%" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                <!-- <i class="material-icons">face</i> -->
                Logout
            </button>
            <div class="mdl-tooltip" for="logout">
                Logout
            </div>
        </div>

    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Github Bucket</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" (click)="goToNewsFeed()"><i class="material-icons" style="float:right">free_breakfast</i>News Feed</a>
            <a class="mdl-navigation__link" (click)="goToFavourite()"><i class="material-icons" style="float:right">favorite</i>Favourite</a>
            <a class="mdl-navigation__link" (click)="goToTrending()"><i class="material-icons" style="float:right">trending_up</i>Top Trending</a>
            <a class="mdl-navigation__link" href=""><i class="material-icons" style="float: right;">grade</i>Most Starred</a>
            <a class="mdl-navigation__link" (click)="goToLatest()"><i class="material-icons" style="float:right">flash_on</i>Latest (weekly)</a>
        </nav>
    </div>
    <main class="mdl-layout__content">
       <div class="page-content"><!-- Your content goes here -->
         <router-outlet></router-outlet>
       </div>
     </main>
</div>
