<!-- <h3 style="text-align:center">My Favourites<h3> -->
<div class="mdl-grid">

  <div class="mdl-cell mdl-cell--2-col">


<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
    <thead>
        <tr>
          <th>Language</th>
        </tr>
    </thead>
    <tbody *ngIf="languageArray" >
      <tr *ngFor="let info of nameArray">
        <td>{{info}}</td>
      </tr>
    </tbody>

</table>
</div>


  <div class="mdl-cell mdl-cell--2-col">
    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
      <thead>
          <tr>
            <th>Number of Repository</th>
          </tr>
      </thead>
      <tbody *ngIf="languageArray" >
        <tr *ngFor="let info of numArray">
          <td>{{info}}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
